@import "../variables";
@import "../mixins";

.accomodation {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 52px;
  padding-right: 20px;
  padding-left: 20px;
}

.accomodation__header {
  color: rgba(0, 0, 0, 0.7);
  font-size: 21px;
  line-height: 26px;
}

.accomodation__request {
  @include zero;
  padding-top: 18px;
  line-height: 24px;
  color: #333333;
}

.accomodation__request br {
  display: none;
}

.accomodation__button {
  margin-top: 36px;
}


@media (min-width: 768px) {
  .accomodation {
    padding-top: 56px;
    padding-bottom: 60px;
  }

  .accomodation__header {
    font-size: 30px;
    color: #000000;
  }

  .accomodation__request {
    padding: 26px 130px 45px;
  }

  .accomodation__request br {
    display: inline;
  }

  .accomodation__button {
    width: 458px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .accomodation {
    padding-top: 57px;
    padding-bottom: 67px;
  }

  .accomodation__request {
    padding: 28px 350px 46px;
  }
}
