@import "../variables";
@import "../mixins";

.advantages {
  @include zero;
  @include list-reset;
  @include flex-column;
}

.advantages__item {
  @include zero;

  &:first-child {
    color: #ffffff;
  }

  &:nth-child(2) {
    color: #ffffff;
  }

  &--small {
    padding-top: 27px;
    background-color: $grey;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.advantages__item:nth-child(n+3) p,
.advantages__item:nth-child(n+3) span {
  color: #333333;
}

.advantages__header {
  @include zero;
  @include font-large;
  padding-bottom: 10px;
}

.advantages__description {
  @include zero;
  padding-top: 13px;
  padding-bottom: 37px;
}

.advantages__item--small .advantages__description {
  padding-bottom: 30px;
}

.advantages__image {
  background-color: #ffffff;
}

.advantages__head--wrapper {
  padding-top: 57px;
  background-color: $blue;
}

.advantages__item:first-child .advantages__description {
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__item:nth-child(2) .advantages__head--wrapper {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    // min-width: 768px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &--small {
      @include flex-column;
      width: 256px;
      background-color: $grey;
      padding-top: 45px;
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .advantages__head--wrapper {
    width: 256px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__item:nth-child(2) .advantages__head--wrapper {
    padding-top: 48px;
  }

  .advantages__header {
    @include font-huge;
  }

  .advantages__item:first-child .advantages__description {
    @include zero;
  }

  .advantages__item .advantages__description {
    padding-top: 20px;
  }

  .advantages__item--small .advantages__header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .advantages__image {
    min-width: 512px;
    height: 256px;
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    &--small {
      width: 400px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 37px;
    }
  }

  .advantages__item--small .advantages__header {
    padding-left: 80px;
    padding-right: 80px;
  }

  .advantages__head--wrapper {
    width: 400px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .advantages__header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .advantages__number {
    padding-bottom: 0;
  }

  .advantages__image {
    min-width: 800px;
  }
}
