@import "../variables";
@import "../mixins";

.advantages {
  @include zero;
  @include list-reset;
  @include flex-column;
}

.advantages__item {
  @include zero;

  &:first-child {
    color: #ffffff;
  }

  &:nth-child(2) {
    color: #ffffff;
  }

  &--small {
    padding-top: 28px;
    background-color: $grey;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
  }
}

.advantages__item:nth-child(n+4) {
  position: relative;
  padding-top: 27px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 280px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.advantages__item:nth-child(n+3) p,
.advantages__item:nth-child(n+3) span {
  color: #333333;
}

.advantages__header {
  @include zero;
  @include font-large;
  padding-bottom: 9px;
}

.advantages__description {
  @include zero;
  padding-top: 13px;
  padding-bottom: 40px;
}

.advantages__item--small .advantages__description {
  padding-bottom: 29px;
  padding-top: 14px;
}


.advantages__head--wrapper {
  padding-top: 57px;
  background-color: $blue;
}

.advantages__head--city {
  position: relative;

  &::after {
    content: "";
    width: 320px;
    display: block;
    height: 260px;
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: #85655a;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.advantages__head--bridge {
  position: relative;

  &::after {
    content: "";
    width: 320px;
    display: block;
    height: 260px;
    background-image: url("../img/main-bridge-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: #e7a58f;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}


.advantages__item:first-child .advantages__description {
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__item:nth-child(2) .advantages__head--wrapper {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    // min-height: 255px;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &:nth-child(n+3) {
      @include flex-column;
      width: 256px;
      background-color: $grey;
      padding-top: 46px;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 15px;
    }

    &:nth-child(4) {
      padding-left: 55px;
      padding-right: 55px;
    }
  }

  .advantages__head--wrapper {
    width: 256px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__head--city {
    position: relative;
    width: 768px;
    padding-right: 555px;
    min-height: 256px;

    &::after {
      content: "";
      position: absolute;
      width: 511px;
      display: block;
      height: 256px;
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-repeat: no-repeat;
      top: 0;
      left: 257px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
        background-size: 511px auto;
      }
    }
  }

  .advantages__head--bridge {
    width: 768px;
    position: relative;
    padding-left: 556px;
    min-height: 256px;

    &::after {
      content: "";
      position: absolute;
      width: 511px;
      display: block;
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-repeat: no-repeat;
      top: 0;
      left: 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
        background-size: 511px auto;
      }
    }
  }


  .advantages__item:nth-child(2) .advantages__head--wrapper {
    padding-top: 48px;
  }

  .advantages__header {
    @include font-huge;
  }

  .advantages__item:first-child .advantages__description {
    // @include zero;
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__item .advantages__description {
    padding-top: 20px;
  }

  .advantages__item--small .advantages__header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .advantages__image {
    min-width: 512px;
    height: 256px;
  }

  .advantages__item:nth-child(n+4) {
    position: relative;

    &::before {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    &:nth-child(n+3) {
      width: 400px;
      padding-top: 46px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 35px;
    }
  }

  .advantages__item--small .advantages__header {
    padding-left: 80px;
    padding-right: 80px;
  }

  .advantages__item:nth-child(2) .advantages__header {
    padding-top: 7px;
  }

  .advantages__item:nth-child(4) .advantages__description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__head {
    &--wrapper {
      width: 400px;
      padding-top: 51px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .advantages__head--city {
    position: relative;
    width: 1200px;
    padding-right: 860px;

    &::after {
      content: "";
      position: absolute;
      width: 800px;
      display: block;
      height: 255px;
      background-image: url("../img/main-city-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 -75px;
      top: 0;
      left: 400px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
        background-size: 800px auto;
      }
    }

    .advantages__head--city .advantages__header {
      padding-bottom: 11px;
    }
  }

  .advantages__head--bridge {
    width: 1200px;
    position: relative;
    padding-right: 85px;
    padding-left: 885px;
    padding-top: 55px;

    &::after {
      content: "";
      position: absolute;
      width: 800px;
      display: block;
      height: 255px;
      background-image: url("../img/main-bridge-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 -75px;
      top: 0;
      right: 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
        background-size: 800px auto;
      }
    }
  }

  .advantages__header {
    padding-left: 39px;
    padding-right: 39px;
  }

  .advantages__number {
    padding-bottom: 0;
  }

  .advantages__image {
    max-height: 255px;
    min-width: 800px;
  }

  .advantages__item--small .advantages__description {
    padding-top: 22px;
  }

  .advantages__item:nth-child(4) .advantages__description {
    padding-left: 18px;
    padding-right: 18px;
  }
}
