@import "../variables";
@import "../mixins";

.advantages {
  @include zero;
  @include list-reset;
  @include flex-column;
}

.advantages__item {
  @include zero;

  &:first-child {
    color: #ffffff;
  }

  &:nth-child(2) {
    color: #ffffff;
  }

  &:nth-child(n+3) {
    padding-top: 25px;
    background-color: $grey;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.advantages__item:nth-child(n+3) p,
.advantages__item:nth-child(n+3) span {
  color: #333333;
}

.advantages__item--wrapper {
  @include list-reset;
}

.advantages__header {
  @include zero;
  @include font-large;
  padding-bottom: 15px;
}

.advantages__description {
  @include zero;
  padding-top: 20px;
  padding-bottom: 30px;
}

.advantages__image {
  background-color: #ffffff;
}

.advantages__head--wrapper {
  padding-top: 60px;
  background-color: $blue;
}





@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    min-width: 768px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &:nth-child(n+3) {
      @include zero;
    }
}

  .advantages__item--wrapper {
    display: flex;
    padding-top: 48px;
  }
  .advantages__item--small {
  min-width: 256px;
  background-color: $grey;
  padding: 0 60px;
}

  .advantages__head--wrapper {
    width: 256px;
  }
  .advantages__image {
    min-width: 512px;
  }
}

@media (min-width: 1200px) {
    .advantages__item {
      min-width: 1200px;
}
.advantages__head--wrapper {
  width: 400px;
}
.advantages__image {
  min-width: 800px;
}
}
