@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  src: url(../fonts/ptsans.woff) format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a,
img,
input,
button,
span {
  display: block;
}

.body {
  min-width: 320px;
}

.container {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: 768px) {
  .body {
    @include tablet;
  }
  .container {
    width: 768px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .body {
    @include desktop;
  }
  .container {
    width: 1200px;
    padding: 0;
  }
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include flex-center;
  min-width: 280px;
  height: 57px;
  background-color: $blue;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  outline: none;
  text-align: center;
  vertical-align: middle;
  padding: 20px auto;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

input[placeholder] {
  @include font-large;
  font-weight: bold;
  color: #000000;
  padding-left: 22px;
}
