@import "../variables";
@import "../mixins";

.checkbox__inputs {
  @include flex-column;
  height: 295px;
  justify-content: space-between;
  position: relative;
}

.checkbox__item label {
  @include font-large;
  font-weight: bold;
  padding-left: 80px;
  text-transform: none;
  position: relative;
}

.checkbox__item label::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: $dark-grey;
  width: 56px;
  height: 56px;
  top: -18px;
  left: -1px;
}

.checkbox__item input:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__item:active input:checked + label::before {
  fill: #a4a4a4;
}

.checkbox__item:hover label::before {
  background-color: $grey-disabled;
}

.checkbox__item:active label::before {
  background-color: #d5d5d5;
}

@media (min-width: 768px) {
  .checkbox__inputs {
    height: 215px;
    flex-direction: row;
    padding-left: 95px;
    padding-right: 45px;
    padding-top: 43px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .checkbox__item {
    min-width: 248px;
    margin-bottom: 0;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 0;
    }

    &:nth-child(4) {
      order: 2;
    }
  }
}

@media (min-width: 1200px) {
  .checkbox__inputs {
    height: 80px;
    flex-direction: row;
    padding-left: 55px;
    padding-right: 65px;
    padding-top: 41px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .checkbox__item {
    margin-left: auto;
    min-width: 200px;
    text-align: center;

    &:first-child {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .checkbox__item label {
    @include font-large;
  }

  .checkbox__legend {
    width: 290px;
  }
}
