@import "../variables";
@import "../mixins";

.contacts__label {
  margin-bottom: 15px;
  padding-left: 20px;
}

.contacts__label--shorten {
  display: inline;
}

.contacts__form-wrapper {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
}

.contacts__form-icon {
  width: 70px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;

  &--tel {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}



@media (min-width: 768px) {
  .contacts__wrapper {
    padding-top: 23px;
  }

  .form__tel {
    margin-bottom: 10px;
  }

  .form__email {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 67px 60px 35px 40px;
  }

  .contacts__label {
    flex-grow: 1;
    display: flex;
    white-space: nowrap;
    align-items: baseline;
    padding-top: 25px;

    &:nth-child(2) {
      margin-left: 60px;
    }

    &--shorten {
      display: none;
    }
  }

    .form__tel,
    .form__email {
    margin-left: 16px;
    margin-bottom: 0;
    width: 257px;
  }

  .contacts__label-wrapper {
    display: flex;
  }

  .contacts__form-wrapper {
    width: 330px;
  }

}
