@import "../variables";
@import "../mixins";

.contacts__label {
  margin-bottom: 15px;
  padding-left: 20px;
}

.contacts__short-label {
  display: inline;
}

.contacts__form-wrapper {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
}

.contacts__form-icon {
  width: 70px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;

  &--tel {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

@media (min-width: 768px) {
  .contacts__legend {
    margin: 0 auto;
  }

  .contacts__wrapper {
    padding-top: 25px;
  }

  .contacts__label-wrapper {
    &--email {
      margin-top: 25px;
    }
  }

  .contacts__form-icon {
    width: 65px;
  }

  .contacts__form-wrapper input {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 69px 60px 20px 40px;
    // width: 400px;
  }

  .contacts__label {
    flex-grow: 1;
    display: inline-block;
    white-space: nowrap;
    align-items: baseline;
    padding-top: 23px;
    margin-right: 15px;

    &:nth-child(2) {
      margin-left: 60px;
    }

    &--email {
      margin-right: 19px;
    }
  }

  .contacts__short-label {
    display: none;
  }

  .form__tel,
  .form__email {
    margin-left: 16px;
    margin-bottom: 0;
    width: 254px;
    height: 58px;
  }

  .form__email {
    margin-left: 14px;
  }

  .contacts__label-wrapper {
    display: flex;
    justify-content: space-between;

    &--email {
      margin-top: 0;
    }
  }

  .contacts__form-wrapper {
    width: 315px;
  }

  .contacts__form-icon {
    width: 75px;
  }
}
