@import "../variables";
@import "../mixins";

.contacts__label {
  margin-bottom: 7px;
  padding-left: 22px;
}

.contacts__label-wrapper {
  @include flex-column;
  position: relative;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    bottom: 0;
  }

  &--email {
    margin-bottom: 15px;
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.contacts__short-label {
  display: inline;
}


@media (min-width: 768px) {
  .contacts__label {
    padding-left: 22px;
  }

  .contacts__legend {
    margin: 0 auto;
  }

  .contacts__wrapper {
    padding-top: 23px;
  }

  .contacts__label-wrapper {
    &--email {
      margin-top: 24px;
    }
  }

  .contacts__form-icon {
    width: 65px;
  }

  .contacts__input {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contacts__wrapper {
    display: flex;
    padding: 72px 60px 21px 40px;
  }

  .contacts__label-wrapper {
    flex-direction: row;
    width: 420px;
    height: 58px;

    &:nth-child(2) {
      margin-left: auto;
      width: 502px;
    }
  }

  .contacts__label {
    flex-grow: 1;
    display: inline-block;
    white-space: nowrap;
    align-items: baseline;
    padding-top: 18px;
    margin-right: 15px;


    &--email {
      margin-right: 19px;
    }
  }

  .contacts__short-label {
    display: none;
  }

  .form__email {
    margin-left: 14px;
  }

  .contacts__label-wrapper {
    &--email {
      margin-top: 0;
    }
  }
}
