@import "../variables";
@import "../mixins";


.features {
  @include list-reset;
  @include zero;
  @include black-font;
  text-align: left;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 20px;
  padding-bottom: 37px;
}

.features__header {
  @include font-large;
  @include zero;
  text-transform: uppercase;
  padding-top: 27px;
}


.features-note {
  @include zero;
  padding-top: 15px;
  color: #333333;
}


@media (min-width: 768px) {
  .features {
    display: flex;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }


  .features__item {
    padding-left: 35px;
    padding-right: 35px;

    &:nth-child(2) {
      order: 3;
    }

    &--food {
      padding-left: 20px;
      padding-right: 50px;
    }

    &--souvenir {
      padding-left: 10px;
      padding-right: 55px;
   }
}
  .features__header {
    padding-top: 150px;
    @include font-huge;
  }

  .features-note {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 18px;

      &--food {
        padding-left: 25px;
        padding-right: 25px;
      }

      &--souvenir {
        padding-left: 0;
        padding-right: 0;
      }
  }
}

@media (min-width: 1200px) {
  .features {
    padding-bottom: 80px;
  }

  .features__item {
    padding-left: 45px;
    padding-right: 45px;
  }

  .features-note {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

      &--food {
        padding-left: 25px;
        padding-right: 25px;
      }

      &--souvenir {
        padding-left: 0;
        padding-right: 0;
      }
  }
}
