@import "../variables";
@import "../mixins";


.features {
  @include list-reset;
  @include zero;
  @include black-font;
  text-align: left;
  padding-left: 70px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.features__header {
  @include font-large;
  @include zero;
  text-transform: uppercase;
  padding-top: 35px;
}

.features-note {
  @include zero;
  padding-top: 19px;
  color: #333333;
}


@media (min-width: 768px) {
  .features {
    display: flex;
    text-align: center;
    padding-left: 0;
  }

  .features__header {
    padding-top: 160px;
  }

  .features__item {
    padding-left: 35px;
    padding-right: 35px;

    &:nth-child(2) {
      order: 3;
    }
  }
}
