@import "../variables";
@import "../mixins";


.form fieldset {
  border: none;
  margin: 0;
  padding: 20px;
}

.form__legend {
  text-align: center;
  font-weight: bold;

  @include font-large;
  @include zero;
}

.full-name__label {
  display: flex;
}

.form__textarea {
  width: 100%;
}

.form__label {
  @include font-small;
  color: #333333;
}

.radio__item label,
.checkbox__item label {
  font-weight: bold;
  padding-left: 70px;
}
