@import "../variables";
@import "../mixins";


input[placeholder]:hover,
textarea[placeholder]:hover {
  background-color: #a4a4a4;
}

input[placeholder]:focus,
textarea[placeholder]:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px #a4a4a4;
}

.form {
  @include flex-column;
  padding-top: 2px;
}

.form__fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid $grey-line;

  &--contacts {
    padding-bottom: 14px;
  }

  &--radio {
    padding-bottom: 28px;
    margin-bottom: 0;
  }

  &--checkbox {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  &--text {
    border-bottom: none;
  }
}

.form__legend {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;

  @include font-large;

  &--full-name {
    margin-left: 68px;
  }

  &--contacts {
    margin-left: 20px;
  }

  &--radio {
    margin-left: 20px;
  }

  &--checkbox {
    padding-top: 18px;
    padding-bottom: 3px;
    margin-left: 20px;
  }

  &--text {
    padding-top: 2px;
    margin-left: 30px;
  }
}

.form__textarea {
  width: 100%;
  height: 160px;
  padding: 20px;
  background-color: $dark-grey;
  border: none;
  overflow: scroll;
  margin-top: -5px;
  margin-bottom: 5px;
}

.form__label {
  @include font-small;
  color: #333333;
}

.form__input {
  background-color: $dark-grey;
  border: none;
  flex-grow: 1;
  min-height: 58px;
  width: 100%;
  color: #000000;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

input:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #000000;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

textarea:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  color: #000000;
}

.form__note {
  display: none;
}

.form__button {
  width: 280px;
  margin: 21px auto 42px;
  font-weight: bold;
}

.form__tel,
.form__email {
  margin: 0;
}


@media (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }

  .form__fieldset {

    padding: 0;
    border-bottom: none;

    &::before {
      display: none;
    }

    &--full-name {
      width: 267px;
      margin-left: auto;
    }

    &--radio {
      order: -1;
      width: 50%;
    }

    &--contacts {
      width: 100%;
    }

    &--checkbox {
      width: 100%;
      margin-top: 18px;
    }

    &--text {
      width: 100%;
    }
  }

  .form__legend {
    @include font-huge;
    text-align: left;
    margin-left: 0;
    margin-right: auto;

    &--contacts {
      padding-top: 35px;
      margin: 0 auto;
      text-align: center;
      margin-left: 185px;
    }

    &--checkbox {
      padding-top: 5px;
      margin: 0 auto;
      text-align: center;
      margin-left: 185px;

      &::before {
        left: 0;
        top: 30px;
      }

      &::after {
        right: 0;
        top: 30px;
      }
    }

    &--text {
      text-align: center;
      margin: 0 auto;
      padding-top: 21px;
      padding-bottom: 60px;
      margin-left: 195px;

      &::before {
        left: -196px;
        top: 34px;
      }

      &::after {
        right: -196px;
        top: 34px;
      }
    }
  }

  .form__textarea {
    height: 160px;
  }

  .form__button {
    width: 323px;
    margin-right: auto;
    margin-left: 0;
    margin-top: 50px;
    font-weight: bold;
  }

  .form__note {
    display: block;
    margin-right: 0;
    margin-top: 72px;
  }

  .form__legend--contacts,
  .form__legend--checkbox,
  .form__legend--text {
    position: relative;

    &::before {
      content: "";
      width: 126px;
      position: absolute;
      height: 1px;
      border-bottom: 1px solid $grey-line;
      left: -182px;
      bottom: 15px;
    }

    &::after {
      content: "";
      width: 126px;
      position: absolute;
      height: 1px;
      border-bottom: 1px solid $grey-line;
      right: -182px;
      bottom: 15px;
    }
  }

  .form__legend--contacts::before,
  .form__legend--contacts::after {
    bottom: 13px;
  }

  .form__legend--checkbox::before,
  .form__legend--checkbox::after {
    bottom: 25px;
  }
}


@media (min-width: 1200px) {
  .form {
    margin-bottom: 7px;
  }

  .form__fieldset {
    &--full-name {
      width: 400px;
      margin-left: auto;
      margin-right: 60px;
    }

    &--radio {
      width: 412px;
      padding-left: 75px;
    }

    &--text {
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 13px;
      margin-bottom: 2px;
    }

    &--checkbox {
      margin-top: 0;
    }
  }

  .form__legend {
    &--radio {
      text-align: right;
    }

    &--contacts {
      padding-top: 33px;
      margin: 0 auto;
      margin-left: 400px;
    }

    &--checkbox {
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      margin-left: 400px;
      padding-bottom: 0;
      padding-top: 2px;

      &::before {
        left: -335px;
        top: 28px;
      }

      &::after {
        right: -335px;
        top: 28px;
      }
    }

    &--text {
      padding-top: 55px;
      padding-bottom: 60px;
      margin: 0 auto;
      margin-left: 350px;


      &::before {
        left: -320px;
        top: 67px;
      }

      &::after {
        right: -356px;
        top: 67px;
      }
    }
  }

  .form__textarea {
    padding-top: 18px;
    margin-bottom: 2px;
  }

  .form__button {
    width: 480px;
    margin-right: auto;
    margin-left: 60px;
    margin-top: 50px;
  }

  .form__note {
    display: block;
    margin-right: 60px;
    margin-top: 70px;
  }

  .form__legend--contacts,
  .form__legend--checkbox,
  .form__legend--text {
    &::before {
      width: 280px;
      left: -337px;
      bottom: 15px;
    }

    &::after {
      width: 280px;
      right: -337px;
      bottom: 15px;
    }
  }
}
