@import "../variables";
@import "../mixins";

.gallery-item {
  margin: 22px 20px;
}

.gallery {
  @include flex-column;
}

@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }
  .gallery-item {
    @include zero;
  }
  .photo-container {
    padding: 0
  }
}


@media (min-width: 1200px) {
  .gallery {
    @include zero;
  }
}
