@import "../variables";
@import "../mixins";

.main-nav {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  height: 21px;
  width: 23px;
}

.main-nav__list {
  @include list-reset;
  @include zero;
}

.main-nav__item {
  @include flex-center;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.main-nav__item a {
  color: #ffffff;
}


.main-nav__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav {
    color: #000000;

    @include font-small;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    height: 56px;
    border-bottom: none;
    border-top: none;

      &--main {
        margin-left: 50px;
        margin-right: 77px;
      }

      &--foto {
        margin-right: 209px;
      }

      &--form {
        margin-right: 50px;
      }
  }

  .main-nav__item a {
    color: #000000;
  }

  .main-nav__link {
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .main-nav__item {

      &--main {
        margin-left: 90px;
        margin-right: 162px;
      }

      &--foto {
        margin-right: 382px;
      }

      &--form {
        margin-right: 137px;
      }
  }
}
