@import "../variables";
@import "../mixins";


iframe {
  border: none;
  width: 320px;
  height: 350px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
}

@media (min-width: 768px) {
  iframe {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  iframe {
    width: 1200px;
  }
}
