@import "../variables";
@import "../mixins";

.page-main__head {
  margin-top: 55px;
  text-align: center;
}

.page-main__head-image {
  background-color: #dceaf3;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;

  &--long {
    min-height: 390px;
  }

  &--short {
    min-height: 160px;
    background-size: 100%;
    background-position: right;
  }
}

.page-main__header {
  @include zero;
  padding-top: 40px;
}

.page-main__intro {
  @include zero;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333333;
}

.page-main__intro--photo {
  padding-left: 25px;
  padding-right: 25px;
}

.page-main__intro--form {
  padding-left: 15px;
  padding-right: 15px;
}


.page-main__img-top {
  position: absolute;

  &--short {
    top: 20px;
    left: 15%;
    width: 70%;
    height: 70%;
  }

  &--long {
    top: 20px;
    left: 5%;
    width: 90%;
    height: 90%;
  }
}


@media (min-width: 768px) {
  .page-main__head {
    margin-top: 0;
  }

  .page-main__head-image {
    &--long {
      min-height: 518px;
      background-size: 100%;
    }

    &--short {
      min-height: 290px;
    }
  }

  .page-main__header {
    font-size: 30px;
  }

  .page-main__intro {
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media (min-width: 1200px) {
  .page-main__header {
    font-size: 30px;
  }

  .page-main__intro {
    padding-left: 380px;
    padding-right: 380px;
  }
}
