@import "../variables";
@import "../mixins";

.page-main__head {
  margin-top: 55px;
  text-align: center;
}

.page-main__head-image {
  position: relative;
  width: 100%;
  background-color: #dceaf3;
  background-repeat: no-repeat, no-repeat;

  &--long {
    height: 390px;
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center, center;
    background-size: 90%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@2x.jpg");
      background-size: inherit, 768px auto;
    }
  }


  &--short {
    min-height: 160px;
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center 52px, center -230px;
    background-size: 73%, 768px auto;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-size: 333px auto;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.page-main__header {
  @include zero;
  padding-top: 40px;

  &--foto {
    @include font-large;
    padding-top: 38px;
  }

  &--form {
    @include font-large;
    padding-top: 37px;
  }
}

.page-main__intro {
  @include zero;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333333;

  &--photo {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 25px;
    padding-bottom: 31px;
    line-height: 24px;
  }

  &--form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    // padding-bottom: 35px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 320px;
      border-bottom: 1px solid $grey-line;
      right: 0;
      bottom: 12px;
    }
  }
}

.page-main__img-top {
  position: absolute;

  &--short {
    top: 20px;
    left: 15%;
    width: 70%;
    height: 70%;
  }

  &--long {
    top: 20px;
    left: 5%;
    width: 90%;
    height: 90%;
  }
}


@media (min-width: 768px) {
  .page-main__head {
    margin-top: 0;
  }

  .page-main__head-image {
    &--long {
      // width: 768px;
      height: 518px;
      background-size: 60%, cover;
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-position: center 77px, center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }

    &--short {
      height: 289px;
      background-position: 155px 96px, center -225px;
      background-size: 60%, cover;
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
    }
  }

  .page-main__header {
    font-size: 30px;

    &--foto {
      padding-top: 76px;
      padding-bottom: 5px;
    }

    &--form {
      padding-top: 75px;
      padding-bottom: 5px;
    }
  }

  .page-main__intro {
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 31px;

    &--form {
      padding-right: 163px;

      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .page-main__header {
    font-size: 30px;

    &--foto {
      padding-top: 111px;
    }

    &--form {
      padding-top: 111px;
      padding-bottom: 4px;
    }
  }

  .page-main__intro {
    padding-left: 380px;
    padding-right: 380px;

    &--form {
      padding-top: 27px;
      padding-bottom: 28px;
      padding-left: 378px;
      padding-right: 378px;
      text-align: center;
    }
  }

  .page-main__head-image {
    &--long {
      min-height: 518px;
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-position: center 80px, center 0;
      background-size: 38%, 1200px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }

    &--short {
      min-height: 302px;
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-position: center 103px, center -218px;
      background-size: 38%, 1200px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
    }
  }
}
