@import "../variables";
@import "../mixins";

.photo {
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 115%;
    border-bottom: 1px solid $grey-disabled;
    bottom: -20px;
    left: -20px;
  }
}

.photo a,
.photo img {
  display: block;
}

.photo__header,
.photo__author {
  @include zero;
}

.photo__header {
  padding-top: 15px;
  font-size: inherit;
}

.photo__author {
  text-transform: none;
  color: #333333;
}

.photo__popularity {
  display: flex;
  padding-top: 7px;
}

.photo__likes-ammount {
  padding-left: 15px;
}

.photo__likes {
  width: 22px;
  height: 20px;
  border: none;

  @include zero;
}

.photo__like {
  cursor: pointer;
  fill: $logo-active;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .photo {
    &::after {
      display: none;
    }
  }

  .photo__image {
    overflow: hidden;
    min-width: 324px;
    height: 267px;

    &--big {
      padding-top: 38px;
      min-width: 648px;
      height: 438px;
    }
  }

  .photo__info {
    display: flex;
    background-color: $dark-grey;
    min-height: 80px;
    padding-left: 20px;

    &--dark {
      background-color: #eaeaea;
    }
  }

  .photo__popularity {
    width: 85px;
    min-height: 80px;
    margin: auto 0 auto auto;
    padding-top: 0;
    align-items: center;
  }

  .photo__likes {
    background-color: #eaeaea;
  }

  .photo__likes-ammount {
    padding-left: 10px;
  }

  .photo__like {
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .photo__image {
    min-width: 400px;
    height: 267px;

    &--big {
      min-width: 1200px;
      height: 440px;
      padding-top: 40px;
    }
  }

  .photo__info {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: -80px;
  }

  .photo__author {
    color: #ffffff;
  }

  .photo__likes {
    background-color: transparent;
  }

  .photo__like {
    fill: #ffffff;
  }
}
