@import "../variables";
@import "../mixins";


.pop-up {
  height: 280px;
  width: 320px;
  text-align: center;

  @include flex-column;
}

.pop-up__header {
  margin-top: 45px;
  margin-bottom: 35px;
}

.pop-up__note {
  @include zero;
}

.pop-up__button {
  margin: 27px auto 0;
}
