@import "../variables";
@import "../mixins";


.radio__inputs {
  @include flex-column;
  // min-height: 195px;
  padding-top: 4px;
  padding-bottom: 2px;
  justify-content: space-between;
}

.radio__item {
  text-transform: none;
  position: relative;
  margin-bottom: 28px;
}

.radio__item label {
  font-weight: bold;
  padding-left: 80px;

  @include font-large;
  position: relative;
  display: block;
}

.radio__item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $dark-grey;
  top: -15px;
  left: 0;
}

.radio__item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
  top: 2px;
  left: 17px;
}

.radio__item:hover input[type="radio"] + label::before {
  background-color: $grey-disabled;
}

.radio__item:active input[type="radio"] + label::before {
  background-color: #d5d5d5;
}

.radio__item:active input[type="radio"]:checked + label::after {
  background-color: #a4a4a4;
}

@media (min-width: 768px) {
  .radio {
    position: relative;
  }

  .radio__item {
    margin-bottom: 38px;
  }

  .radio__item label {
    padding-left: 75px;
  }

  .radio__inputs {
    padding-top: 60px;
    margin-top: auto;
    justify-content: space-around;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $grey-line;
      top: -20px;
      right: 0;
    }
  }

  .radio-item {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .radio {
    &::after {
      right: -130px;
      top: 8px;
    }
  }

  .radio__item label {
    padding-left: 65px;
  }

  .radio__item input[type="radio"] + label::before {
    left: -10px;
  }

  .radio__item input[type="radio"]:checked + label::after {
    left: 8px;
  }
}
