@import "../variables";
@import "../mixins";

.reasons {
  text-align: center;

  @include flex-column;
}

.reasons__header {
  padding-top: 42px;
  font-weight: 26px;
  margin: 0 30px;
  padding-bottom: 25px;
  position: relative;

  @include flex-column;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 37px;
    bottom: -15px;
    left: -30px;
    z-index: 10;
    background-image: url("../img/bg-triangle.svg");
  }
}

.reasons__slogan {
  @include font-large;
  font-weight: bold;
}

.reasons__intro {
  text-align: center;

  @include zero;
  @include font-small;
  margin-top: 25px;
  color: #333333;
}

@media (min-width: 768px) {
  .reasons__header {
    padding-top: 53px;
    padding-bottom: 50px;

    &::before {
      display: none;
    }
  }

  .reasons__slogan {
    font-size: 21px;
    margin: 0 130px;
  }

  .reasons__intro {
    margin-top: 26px;
  }
}

@media (min-width: 1200px) {
  .reasons__slogan {
    margin-right: 347px;
    margin-left: 347px;
  }
}
