@import "../variables";
@import "../mixins";

.reasons {
  text-align: center;

  @include flex-column;
}

.reasons__header {
  padding-top: 44px;
  font-weight: 26px;
  margin: 0 30px;
  padding-bottom: 25px;

  @include flex-column;
}

.reasons__slogan {
  @include font-large;
  font-weight: bold;
}

.reasons__intro {
  text-align: center;

  @include zero;
  @include font-small;
  margin-top: 25px;
  color: #333333;
}

@media (min-width: 768px) {
  .reasons__header {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reasons__slogan {
    font-size: 21px;
    margin: 0 130px;
  }

  .reasons__intro {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .reasons__slogan {
    margin-right: 350px;
    margin-left: 350px;
  }
}
