@import "../variables";
@import "../mixins";

.social__list {
  @include list-reset;
  @include zero;

  display: flex;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $blue;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue-social-hover;
  }

  &:active {
    background-color: $blue-social-active;
  }
}


.social__item:active .social__icon {
    fill: $blue-social-icon;
}

.social__link {
  font-size: 0;
  position: relative;
  width: 46px;
  height: 48px;
}

.social__icon {
  fill: #ffffff;

  &--twitter {
    margin-top: 17px;
  }

  &--facebook {
    margin-top: 14px;
  }

  &--youtube {
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .social__list {
    margin-left: 115px;
  }
}

@media (min-width: 1200px) {
  .social__list {
    margin-left: 255px;
  }
}
