@import "../variables";
@import "../mixins";

.video-presentation {
  text-align: center;
  padding-top: 35px;
}

.video-presentation__intro {
  @include zero;
  padding: 35px 25px 40px;
  line-height: 24px;
  color: #333333;
}

.video-presentation-header {
  @include font-large;
}

@media (min-width: 768px) {
  .video-presentation {
    padding-top: 65px;
  }
  .video-presentation-header {
    font-size: 30px;
  }
  .video-presentation__intro {
    padding: 35px 175px 40px;
}
  .video-presentation__content video {
    width: 648px;
  }
}

@media (min-width: 1200px) {
  .video-presentation__intro {
    padding: 35px 380px 40px;
}
.video-presentation__content video {
  width: 802px;
}
}
