@import "../variables";
@import "../mixins";

.video-presentation {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 105px;
}

.video-presentation__intro {
  @include zero;
  padding: 25px 25px 35px;
  line-height: 24px;
  color: #333333;
}

.video-presentation-header {
  @include font-large;
}

@media (min-width: 768px) {
  .video-presentation {
    padding-top: 65px;
    padding-bottom: 38px;
  }

  .video-presentation-header {
    font-size: 30px;
  }

  .video-presentation__intro {
    padding: 30px 175px 70px;
  }

  .video-presentation__content video {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .video-presentation {
    padding-top: 75px;
    // padding-bottom: 38px;
  }

  .video-presentation__intro {
    padding: 25px 380px 70px;
  }

  .video-presentation__content video {
    width: 802px;
  }
}
