$blue: #81b3d2;
$grey: #eeeeee;
$dark-grey: #f2f2f2;
$blue-hover: #669ec0;
$blue-social-hover: #669ebf;
$blue-social-active: #5596be;
$blue-active: #5496bd;
$blue-active-font: #94b9d2;
$blue-social-icon: #87b6d2;
$grey-disabled: #e5e5e5;
$blue-menu-hover: #81b3d2;
$grey-menu-active: rgba(0, 0, 0, 0.3);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$vide0-bitton: #5c6971;
$video-active: #c1c1c1;
$logo-hover: #81b2d0;
$logo-active: #b2b2b2;
